.heroSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  margin: 2rem 0;

  img {
    width: 16rem;
    height: auto;
    border: 2px solid var(--text-highlight);
    border-radius: 50%;
  }

  .heroText {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1,
    p,
    a {
      margin: 0;
    }
    h1 {
      color: var(--text-primary);
    }
  }
}

.projectCard {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 0 7rem 2rem 7rem;
  padding: 1rem;
  overflow: hidden;
}
.projectCard:hover {
  scale: 0.98;
}

.projectCard img {
  width: auto;
  height: 16rem;
  border-radius: 8px;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  max-height: 16rem;
  flex: 1 1 auto;

  h3,
  p {
    margin: 0;
    padding: 0;
  }
  h3 {
    color: var(--text-highlight);
  }
  p {
    color: var(--text-primary);
    text-align: justify;
  }
}
