.menubar {
  padding: 0.5rem 0;

  ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .contactButton {
    all: unset;
  }
  a,
  a:visited,
  .contactButton {
    cursor: pointer;
    color: var(--text-primary);

    .logo {
      width: 2.5rem;
      height: 2.5rem;
      object-fit: contain;
    }
  }
  a:hover,
  .contactButton:hover {
    color: var(--text-highlight);
  }
}
