.socialLinks {
  margin-top: 0;
  li {
    list-style: none;
    width: max-content;
    a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
      .icon {
        color: var(--text-primary);
      }
    }
  }
}
