.filters {
  display: flex;
  gap: 1rem;
}

.searchInput {
  all: unset;
  flex: 1;
  padding: 0.5rem;
  border: 2px solid var(--text-highlight);
  border-radius: 6px;
}

.courseCard {
  margin: 1rem 0;
  padding: 1rem;
  border: 2px solid var(--text-highlight);
  border-radius: 6px;
  cursor: pointer;

  .courseName {
    margin: 0;
  }

  .projectTechTags,
  .courseLink {
    font-size: 0.7rem;
  }

  .projectDesc {
    margin: 1rem 0 0 0;
  }
}
.courseCard:hover {
  background-color: var(--bg-secondary);
  transform: translateY(-2px);

  .courseName {
    color: var(--text-highlight);
  }
}
